project:
  type: website
  output-dir: _site

website:
  title: "Travis Whitfield"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
      - href: projects/index.qmd
        text: Projects

format:
  html:
    theme: cosmo
